
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
  .waypoint {
    font-size: 1.4em;
  }  
  .svg .brand {
    
    img {
      width: 300px;
    }
    
    b {
      font-size: 28px;
      bottom: 14px;
    }
    
  }

  #development {
    .content {
      width: auto;
      margin-left: 5%;
      margin-right: 5%;

      h3 {
        width: 160px;
        height: 160px;
        &:before,
        &:after {
          content: "";   
        }

        span {
          line-height: 148px;
          font-size: 1em;
          opacity: 1;
          top: auto;
        }        
      }

      p {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 979px) and (min-width: 768px) {

}

@media only screen and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .navbar {
   position: static;

    .navigation {
      width: auto;
      margin-left: 0;
    } 

    .nav-collapse {

      .navigation > li {
        a {
          @include transition(background-color 0.2s ease-in-out, color 0.2s ease-in-out);
          &:hover,
          &:focus {
            background-color: $orange;
            color: $white;
          }
          &:active {
            background-color: $orange;
            color: $white;
          }          
        }
      }
    }  
  }

}

@media only screen and (min-width: 768px) {
  .navbar .nav-collapse {
    height: auto!important;
  }
}

@media only screen and (max-width: 767px) {
  .navbar {

    .nav-collapse {
      overflow: hidden;
      @include transition(height 0.2s ease-in-out);

      .navigation li {
        width: auto;
        float: none;
        margin-left: 0;
        margin-bottom: 10px;

        a {
          line-height: 20px;
        }

      }
      &.collapsed {
        height: 0;
        overflow: hidden;
      }
    }

    .btn-navbar {
      display: block;
    } 

  }

  .waypoint {
    font-size: 1em;
    &>div {
      @include reset-content-box;      
    }    
  } 
  .svg .brand {
    
    img {
      width: 260px;
    }
    
    b {
      font-size: 24px;
      bottom: 12px;
    }
    
  }

  #development {
    .content {
      
      &>div {
        float: none;
        width: auto;
        margin-right: 0;
      }

      h3 {

        span {
          line-height: 148px;
          font-size: 1em;
          opacity: 1;
          top: auto;
        }        
      }

      p {
        font-size: 1em;
      }
    }
  }  
}


// Prevent the main slide from centering
// when the screen gets too narrow or too short
@media only screen and (max-width: 640px) {

}

@media only screen and (max-height: 768px) {
  .waypoint {
    &>div {
      @include reset-content-box
    }
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}