
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (max-width: 1024px) {
  .waypoint {
    font-size: 1.4em;
  }  
  .svg .brand {
    
    img {
      width: 300px;
    }
    
    b {
      font-size: 28px;
      bottom: 14px;
    }
    
  }

  #development {
    .content {
      width: auto;
      margin-left: 5%;
      margin-right: 5%;

      h3 {
        width: 140px;
        height: 140px;
        &:before,
        &:after {
          content: "";   
        }

        span {
          line-height: 125px;
          font-size: 1em;
          opacity: 1;
          top: auto;
        }        
      }

      p {
        font-size: 0.8em;
      }
    }
  }
}

@media all and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  .navbar {

    .navigation {
      width: auto;
      margin-left: 0;
    } 
  }

  .fade-controls {
    width: 50%;
  }

}

@media all and (max-device-width: 1024px) {
  #development {
    .content > div {
      margin-top: 4.5em;
    }
  }
}

@media all and (max-width: 767px) {
  
  .navbar .navigation > li > a {
    font-size: 0.825em;
  }

  #about {  
    padding-top: 35px;
  }

  .icon-down_arrow {
    display: none;
    visibility: hidden;
  }  

  .waypoint {
    font-size: 1em;
    &>div {
      @include reset-content-box;
    }    
  }

  .enhanced {
    .waypoint {
      &>div {
        margin-top: 150px;
      }
    }
    #development {
      &>div {
        margin-top: 0; 
      }
    }
  }
  .svg .brand {
    
    img {
      width: 260px;
    }
    
    b {
      font-size: 24px;
      bottom: 12px;
    }
    
  }

  #development {
    .content {
      
      &>div {
        float: none;
        width: auto;
        margin-right: 0;
        margin-bottom: 2em;
      }

      h3 {

        span {
          line-height: 128px;
          font-size: 1em;
          opacity: 1;
          top: auto;
        }        
      }

      p {
        font-size: 1em;
      }
    }
  }

  #contact {
    ul li {
      a {
        font-size: 3.5em;
      }
    }
  }  
}


// Prevent the main slide from centering
// when the screen gets too narrow or too short
@media all and (max-device-width: 640px) {
  #development .content {

    h3 {
      width: 120px;
      height: 120px;
      span {
        line-height: 100px;
      }
    }
  }
  #ethos img {
    display: none;
  }
  #main-footer {
    img {
      max-width: 15em;
    }
  }
  #contact ul {
    margin: 0; 
  }  
}

@media all and (max-width: 480px) {
  #contact ul {
    width: auto;
  }
  .fade {
    margin-bottom: 0;
  }
  .fade-controls {
    width: 70%;
  }
  .waypoint {
    min-height: 20em;
  } 
}

@media all and (max-width: 320px) {
  .fade {
    margin-bottom: 3em;
  }
  .fade-controls {
    width: auto;
  }
  #contact {
    ul {
      margin: 3.5em 0 7em;
      li {
        padding: 0;
        a {
          font-size: 2.5em;
        }
      }
    }
  }
  .waypoint {
    min-height: 26em;    
  }  
}

@media all and (max-height: 767px) {
  .waypoint {
    &>div {
      @include reset-content-box;
    }
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-device-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}