.container {
  @include outer-container;
}

.waypoint {
	@include row;
	padding: 60px 0 30px;
	&>div {
		@include outer-container;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.content {
  @include clearfix;
  margin: auto;
}