
/* ==========================================================================
   =type
   ========================================================================== */
body {
  font-family: $bodycopy;
  font-weight: 700;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headline;
  font-weight: 400;
  text-transform: uppercase;
}

#page-wrap {
  position: relative;
}

.js.opacity.csstransitions #page-wrap {
  opacity: 1;
  @include transition(opacity 1s ease);
  &.unstaged {
    opacity: 0;
  }
}

.waypoint {
  font-size: 1.6em;
}

/* ==========================================================================
   =buttons
   ========================================================================== */
button {
  border: none;
}

/* ==========================================================================
   =navigation
   ========================================================================== */

.navigation {
  @include nav;
}

.navbar {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  background-color: $white;

  .navigation {
    margin: 0 0 0 10%;
    width: 80%;
  }

  .navigation > li {
    float: left;
    width: 20%;

    &>a {
      display: block;
      margin: 0;
      padding: 10px 0;
      color: $royal;
      text-align: center;
      line-height: 70px;
      @include pix18;
      &:hover,
      &:focus,
      &:active {
        outline: none;
        
      }
    }
  }

  .btn-navbar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    line-height: 25px;
    font-family: $headline;
    @include pix40;
    text-transform: uppercase;
    background: $orange;
    color: $white;
    &.collapsed {
      &:active,
      &:focus {

      }
    }     
    @include transition (all 0.1s ease-in-out);
    &:hover,
    &:focus {

    }
  }

  &.scrolled {
    box-shadow: 0 0 20px 2px transparentize($royal, 0.3);
  }
}

/* ==========================================================================
   =about
   ========================================================================== */
#about {
  background-color: $royal;
  padding: 80px 20px;
  position: relative;

  p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
  }
}

.brand {
  
  img {
    display: block;
    margin: 0 auto;
    padding: 0 15px 50px;
    border-bottom: 1px solid $white;
    width: 280px;
  }
  b {
    padding: 0 15px;
    font-size: 28px;
    position: relative;
    bottom: 14px;
    background-color: $royal;
  }
}


.svg .brand {
  
  img {
    width: 360px;
  }
  
  b {
    font-size: 34px;
    bottom: 18px;
  }

}

/* ==========================================================================
   =development
   ========================================================================== */
#development {

  background-color: $orange; 
  
  .content {
    width: 960px;
  }

  .content {

    &>div {
      width: 30%;
      margin-right: 5%;    
      float: left;
      position: relative;
      -webkit-backface-visibility: hidden;
      @include omega(3n);
    }

    h3 {
      width: 250px;
      height: 250px;
      margin: auto;
      position: relative;
      border: 12px solid $white;
      border-radius: 50%;
      @include box-sizing(border-box);
      @include transition( all .3s ease);

      &:before,
      &:after {
        font-size: 4em;
        font-weight: bold;
        line-height: 250px;
        position: absolute;
        top: 0;
        opacity: 1;
        @include transition(all .3s ease);
        z-index: 100;       
      }        
      
      span {
        width: 100%;
        text-align: center;
        display: block;
        line-height: 240px;
        @include pix24;
        opacity: 0;
        top: 20px;
        position: relative;
        margin-bottom: 20px;
        @include transition(all .3s ease);       
      }     
    }

    p {
      color: $white;
      @include transition(color .3s ease);
    }    

    // skills boxes hover styles
    &>div:hover {
      color: $orange;     
      
      h3 {
        color: $white;
        
        &:before,
        &:after {
          font-size: 3.5em;
          opacity: 0;   
        }

        &:before {
          left: 7%;
        } 

        &:after {
          right: 7%;
        }                

        span {
          top: 0;
          opacity: 1;
        }
      }

      p {
        color: $white;
      }      
    }
  }

  .skill-html5 {
    h3 {
      &:after {
        content: ">";
        right: 14%;
        top: -5px;
      }
      &:before {
        content: "<";
        left: 14%;
        top: -5px;
      }      
    }
  }
  .skill-css {
    h3 {
      &:after {
        content: "}";
        right: 26%;
        top: -19px;
      }
      &:before {
        content: "{";
        left: 25%;
        top: -19px;
      }      
    }
  }
  .skill-js {
    h3 {
      &:after {
        content: ")";
        right: 26%;
        top: -12px;
      }
      &:before {
        content: "(";
        left: 24%;
        top: -12px;        
      }      
    }
  }    
}



/* ==========================================================================
   =design
   ========================================================================== */

#design {

  background: $lightgrey;
  color: $slate;

  ul {
    @include nav;
    width: 82.94039%; /*span10*/
    margin-left: 8.5298%; /*offset1*/
    li {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      width: 20%;
    }
  }  
}

/* ==========================================================================
   =ethos
   ========================================================================== */

#ethos {

  background-color: $navy;
}

/* ==========================================================================
   =contact
   ========================================================================== */

#contact {
  background-color: $darkgrey;
  ul {
    @include nav;
    width: 82.94039%; /*span10*/
    margin-left: 8.5298%; /*offset1*/
    li {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      width: 25%;
      a {
        @include transition(all .3s ease);
        font-size: 8em;
        &:hover,
        &:focus {
          color: $navy;
          font-size: 8.4em;
        }
      }
    }
  }    
}

/* ==========================================================================
   =main-footer
   ========================================================================== */

#main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 0;
  img {
    display: block;
    margin: auto;
    max-width: 300px;
  }
} 