
/* ==========================================================================
   =type
   ========================================================================== */
body {
  font-family: $bodycopy;
  font-weight: 700;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headline;
  font-weight: 400;
  text-transform: uppercase;
}

/* ==========================================================================
   =navigation
   ========================================================================== */

.nav {
  @include nav;
}

.navbar {

  @include navbar_fixed;
  background-color: $white;

  .nav {
    margin: 10px 0;
    width: 70%;
    margin-left: 15%;
  }

  .nav > li {

    width: 25%;

    &>a {
      display: block;
      margin: 0;
      padding: 10px 40px;
      color: $royal;
      text-align: center;
      line-height: 55px;
      @include pix18;
      &:hover,
      &:focus,
      &:active {
        border-bottom: 4px solid $white;
      }
    }
  }

  .btn-navbar {
    display: none;
    border-radius: 50%;
    margin: 15px;
    padding: 10px 20px;
    line-height: 25px;
    vertical-align: middle;
    @include transition (all 0.1s ease-in-out);
    &:hover,
    &:focus {
      @include buttonhover;
    }   
  }

  &.scrolled {
    box-shadow: 0 0 20px 2px transparentize($royal, 0.3);
  }
}

/* ==========================================================================
   =about
   ========================================================================== */
#about {
  background-color: $royal;
}

/* ==========================================================================
   =development
   ========================================================================== */
#development {

  background-color: $orange; 
  
  ul {
    @include nav;
    width: 82.94039%; /*span10*/
    margin-left: 8.5298%; /*offset1*/
    li {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      width: 20%;
    }
  }
}

/* ==========================================================================
   =skills
   ========================================================================== */

#design {

  background: $lightgrey;
  color: $slate;

  ul {
    @include nav;
    width: 82.94039%; /*span10*/
    margin-left: 8.5298%; /*offset1*/
    li {
      padding: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      width: 20%;
    }
  }  
}

/* ==========================================================================
   =ethos
   ========================================================================== */

#ethos {

  background-color: $navy;
}

/* ==========================================================================
   =main-footer
   ========================================================================== */

#main-footer {
  background-color: $darkgrey;
}