      <div id="about-this-site" class="page">
          <a class="page-link" href="/" title="learn more about Lewis Nixon">Back to Main Page</a>
          <div class="content">
            <div class="brand">
                <img src="/assets/images/boxdeluxe_logo.svg" alt="box deluxe logo">
                <b class="icon-star_icon"></b>
            </div>            
            <section>
                <h2>About Me</h2>
                <p>I'm Lewis, a Web Designer and Front End Developer from London. </p>
                <p>I specialise in HTML, CSS3 and JavaScript and can draw upon a good deal of experience working within agile teams at the intersection of design &amp; development.</p>
                <p>Web standards, accessibility and progressive enhancement inform my approach when creating user interfaces. Scalability and testabiity are forefront in my mind when producing JavaScript code. All of this I aim to achieve with as few a bytes as possible as I look to squeeze more speed and performance from my pages.</p>
                <p>Producing interfaces that perform on the multitude of web enabled devices in circulation today is a prerequisite and a challenge that I take to readily.</p>
                <p>With that in mind, I use every project as an opportunity to learn new skills and I try to operate at the sharp edge of my expertise. I keep up to date with news and absorb all the best-practices I can find as I continue to become a better pro every day.</p>
            </section>
            <section>
                <h2>About how I work</h2>
                <p>I like to adopt a test-driven approach to development. I'm strongly of the opinion that this produces better software design and helps test your understanding of the requirements before diving into a feature. I also eases the pain of onboarding new developers.</p>
                <p>Ultimately, when done well, this will help with continous delivery efforts by closing feedback loops early and shortening release cycles and therefore contribute to an enjoyable, high-performance working culture. Working in this way means both stakeholders and agile team members benefit.</p>
                <p>Knowledge sharing something I advocate and I like to gain experience from working with others by hearing about their approaches as well as sharing my own.</p>
                <p>Using good version control practises and leveraging the tools built into modern version control hubs such as Github allows the development team to build idioms around common problems and use consistent patterns resulting in faster feature delivery with more quality.</p>
                <p>Furthermore, automating code quality analysis insures the codebase against tight coupling and excessive complexity.</p>
                <p>I have used many JavaScript frameworks such as Angular, React and Express.js and yet I feel that good engineering practises remain paramount. Learning frameworks is great fun but understanding the bigger pictures of scalability, modularity, patterns, anti-patterns and performance really helps you make the most of them.</p>
            </section>
            <section>
                <h2>About this Site</h2>
                <p>This site is powered by a site generation tool called <a href="http://jekyllrb.com/" title="Jekyll Site Generator">Jekyll</a> which is a framework authored and maintained by the team at Github.</p>
                <p>When I initially started using Jekyll for a Github pages project, I found it really easy to get to grips with and so it became a natural fit for creating a static site such as this. It's easily installed as a RubyGem and can get you moving quickly and effortlessly. The documentation is excellent and has to-date been easy to work with for simple sites so I've stuck with it.</p>
            </section>
            <section>
                <h2>Thanks for visiting</h2>
                <p>So thanks for reading, this should have given you a flavour of the diversity of my skills and general approach. Suffice to say, there is a great deal I have not covered.</p>
                <p>I will always feel a strong affinity for designing &amp; engineering digital products and love working in the area where creative disciplines and technology overlap.</p>
                <p>I currently work on a contract basis. If you're an employer or employee who thinks I would be a good fit for your team, please feel free to get in touch via the details on the main page.  No recruiters please.</p>
                <p>Please see my <a href="https://github.com/kojinkai" title="lewis nixon's github page">Github page</a> for the code that powers this site and more</p>
            </section>
          </div>    
          <a class="page-link" href="/" title="learn more about Lewis Nixon">Back to Main Page</a>          
      </div>