<section id="contact" class="waypoint">
    <div class="content">
        <ul>
            <li><a href="#flickr" title="flickr" class="icon-flickr_icon"></a></li>
            <li><a href="#twitter" title="twitter" class="icon-twitter_icon"></a></li>
            <li><a href="#github" title="github" class="icon-github_icon"></a></li>
            <li><a href="#linkedin" title="linkedin" class="icon-linkedin_icon"></a></li>
        </ul>
        <footer id="main-footer">
            <div>
                <img src="/assets/images/boxdeluxe_footer.svg" alt="thanks for stopping by">
            </div>
        </footer>      
    </div>
    <a class="icon-up_arrow" href="design" data-scroll-target="#about"><span>top</span></a>    
</section>