<section id="contact" class="waypoint">
    <div class="content">
        <ul>
            <li><a href="http://www.flickr.com/photos/boxdeluxe/" title="flickr" class="icon-flickr_icon"></a></li>
            <li><a href="https://twitter.com/boxdeluxe" title="twitter" class="icon-twitter_icon"></a></li>
            <li><a href="https://github.com/kojinkai" title="github" class="icon-github_icon"></a></li>
            <li><a href="http://www.linkedin.com/in/lewisnixon" title="linkedin" class="icon-linkedin_icon"></a></li>
        </ul>
        <footer id="main-footer">
            <div>
                <img src="/assets/images/boxdeluxe_footer.svg" alt="thanks for stopping by">
            </div>
        </footer>      
    </div> 
</section>