<section id="design" class="waypoint">
    <h2>I don't mind a bit of</h2>
    <div class="content">
        <div class="fade">
            <p>CLARITY, IMPACT AND ITELLIGIBILITY</p>
            <p>HILARITY, BURGERS AND TOMATO SAUCE</p>
            <p>DISPARITY, NIPPLES AND CHUD</p>
        </div>
        <div class="fade-controls">
            <a data-target="next" title="grid"></a>
            <a data-target="next" title="color"></a>
            <a data-target="next" title="typography"></a>
        </div>
    </div>
    <a class="icon-down_arrow" href="design" data-scroll-target="#ethos"></a>     
</section>