<section id="development" class="waypoint">
    <div>
        <h2>I'm a Dab Hand At</h2>
        <div class="content">
          <div class="skill-html5">
            <h3><span>HTML<em>5</em></span></h3>
            <p>Semantic and descriptive, uncluttered an compliant</p>
          </div>
          <div class="skill-css">
            <h3><span>CSS3</span></h3>
            <p>Cascading, separated, <br/> pre-compiled, responsive
            </p>
          </div>
          <div class="skill-js">
            <h3><span>JavaScript</span></h3>
            <p>Modular, linted and dry <br/> with added jQuery
            </p>
          </div>            
        </div>   
    </div>
</section>