<section id="development" class="waypoint">
    <h2>I'm a Dab Hand At</h2>
    <div class="content">
      <div class="skill-html5">
        <h3><span>HTML5</span></h3>
        <p>Semantic &amp; descriptive, <br />uncluttered &amp; compliant</p>
      </div>
      <div class="skill-css">
        <h3><span>CSS3</span></h3>
        <p>Cascading, separated, <br/> pre-compiled, responsive
        </p>
      </div>
      <div class="skill-js">
        <h3><span>JavaScript</span></h3>
        <p>Modular, linted &amp; dry <br/> with added jQuery
        </p>
      </div>            
    </div>
    <a class="icon-down_arrow" href="#design" data-scroll-target="#design"></a>    
</section>