<section id="ethos" class="waypoint">
    <h2>Ethos</h2>
    <div class="content">
        <div class="fade">
            <figure>
                <p>Some young puppets</p>
                <figcaption>
                    Karl Marx
                </figcapion>                  
            </figure>              
            <figure>
                <p>Some Beefy Jacket action</p>
                <figcaption>
                    Karl Marx
                </figcapion>                  
            </figure> 
            <figure>
                <p>The Cream of sum yung gye</p>
                <figcaption>
                    Karl Marx
                </figcapion>                  
            </figure>                         
        </div>    
    </div>
    <img src="/assets/images/lewis_nixon_mugshot.png" alt="lewis nixon mugshot">
    <a class="icon-down_arrow" href="design" data-scroll-target="#contact"></a>     
</section>