<section id="ethos" class="waypoint">
    <h2>Things I Believe</h2>
    <div class="content">
        <div class="fade">
            <blockquote cite="http://www.paul-rand.com/foundation/thoughts_graphicDesignAmericaInterview/#.Ug5Oy2Q6V30">
                <p>The quality of the work always precedes everything else. By quality I mean, if it corresponds to some belief, some painter, or some person whom I respect, then fine. If not, forget it.</p>
                <span class="cite">Paul Rand</span>                 
            </blockquote>
            <blockquote>
                <p>You're never the finished article -</p>
                <span class="source">
                    aim to learn something new every day
                </span>
            </blockquote>              
            <blockquote cite="http://www.netmagazine.com/features/10-new-year-s-resolutions-designers">
                <p>Stop trying to save bad work - If something isn’t working, start over. Otherwise the goal you’re working towards is saving your work, not solving the problem.</p>
                <span class="cite">
                    Mike Monteiro
                </span>                  
            </span>
            </blockquote>
            <blockquote>
                <p>Experiment with impunity and help prevent bugs getting introduced into your code</p>
                <span class="source">
                    Embrace version control
                </span>
            </blockquote>
            <blockquote>
                <p>Learning Photoshop does not make you a designer, just like buying paintbrushes doesn’t make you an artist</p>
                <span class="source">
                    Design is a discipline
                </span>
            </blockquote>
            <blockquote>
                <p>Place a high premium on performance</p>
                <span class="source">
                    Anything else is just plain inconsiderate
                </span>
            </blockquote>                                                
        </div>    
    </div>
    <img src="/assets/images/lewis_nixon_mugshot.png" alt="lewis nixon mugshot">
    <a class="icon-down_arrow" href="#contact" data-scroll-target="#contact"></a>     
</section>