<section id="ethos" class="waypoint">
    <h2>Ethos</h2>
    <div class="content">
        <div class="fade">
            <blockquote cite"http://www.paul-rand.com/foundation/thoughts_graphicDesignAmericaInterview/#.Ug5Oy2Q6V30">
                <p>The quality of the work always precedes everything else. And the quality, of course, is my standard. By quality I mean, if it corresponds to some belief, some painter, or some person whom I respect, then fine. If not, forget it.</p>
                <span class="source">Paul Rand</span>                 
            </blockquote>
            <blockquote>
                <p>You're never the finished article - aim to learn something new every day</p>
            </blockquote>              
            <blockquote>
                <p>Design is the organization of materials and processes in the most productive way, in a harmonious balance of all elements necessary for a certain function</p>
                <span>
                    L&aacute;szl&oacute; Moholy-Nagy
                </span>                  
            </span>
            </blockquote>
            <blockquote>
                <p>Don't sit back and relax, strive instead to be a knowledgeable as the peopel you believe to be smarter than you</p>
            </blockquote>                        
        </div>    
    </div>
    <img src="/assets/images/lewis_nixon_mugshot.png" alt="lewis nixon mugshot">
    <a class="icon-down_arrow" href="#contact" data-scroll-target="#contact"></a>     
</section>