    </div><!-- page-wrap -->        
    <div class="footer">
      <div class="container">
        <div class="parent-brand-container">
            <a href="http://dachisgroup.com/" title="Dachis Group Main Site">
                <img src="images/dachis_group_logo_mono.svg" alt="dachis group brand" />
            </a>
        </div>
      </div>
    </div>
        <!-- Begin scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
        <!-- bootstrap JS -->
        <!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
        <script src="/assets/js/bd_2013.min.js"></script>  
    </body>
</html>