<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Pull in bootstrap CSS -->
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/avv1uyd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>       

    </head>
    <body>
      <div id="page-wrap">
        <div class="navbar">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              Menu
            </button>
            <div class="nav-collapse collapse">
              <ul class="nav" role="navigation">
                <li>
                  <a href="#intro" title="Go to our Case Studies page">ABOUT</a>
                </li>
                <li>
                  <a href="#skills" title="Go to our blog">SKILLS</a>
                </li>
                <li>  
                  <a href="#ethos" title="Go to our main contact form">ETHOS</a>                      
                </li>
                <li>   
                  <a href="#" title="Go to our main contact form">CONTACT</a>
                </li>
              </ul>
            </div>
          </div>
        </div>