<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="The portfolio of Lewis Nixon, Web Designer and Front End Developer living in London">
        <meta name="keywords" content="web design, visual design, HTML, CSS, JavScript, Front End Development, london">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- iOS Icons -->
        <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/touch-icon-ipad-retina.png" />        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/avv1uyd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>       

    </head>
    <body>
      <div id="page-wrap" class="unstaged">