<section id="about" class="waypoint">
    <div class="content">
        <div class="brand">
            <img src="/assets/images/boxdeluxe_logo.svg" alt="box deluxe logo">
            <b class="icon-star_icon"></b>
        </div>
        <p>
            Hi, I’m Lewis Nixon,  a web designer and front end developer.
            <br />  
            This is where you can find out a little bit more about what I do.
        </p>
        <p>
            I believe that coding is a craft and true practitioners place a high premium on creating performant, scalable, standards-based code and usable, intuitive interfaces.
        </p>
        <a class="page-link" href="/about" title="learn more about Lewis Nixon">Read More</a>
    </div>
    <a class="icon-down_arrow" href="#development" data-scroll-target="#development"></a>
</section>